@{
  Layout = "_Layout";
}
<body>
  <div>
    <h1>Eau Claire's Stylist Tracker</h1>
    <hr>
    <button class="btn btn-default">@Html.ActionLink("See my stylists", "Index", "Stylist")</button>
  </div>
</body>